*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#main{
    height: 100%;
    
    width: 100%;
    background-color: rgba(114, 88, 101, 0.881);
    display: flex;
}
#part1{
    height: 100%;
    width: 26%;
    /* background-color: red; */
    
}
#part2{
    height: 100%;
    width: 67%;
    background-color: blue;
    background-image: url(https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80);
    background-size: cover;
    background-position: center;
}
#overlay{
    height: 100%;
    width: 100%;
    background-color:  rgba(88, 80, 82, 0.226);
}
#part3{
    height: 100%;
    width: 7%;
   /* background-color: green; */
}
#text-div{
    /* height: 300px; */
    position: absolute;
    width: 400px;
    /* background-color: red; */
    left: 5%;
    top: 50%;
    transform: translate(0, -50%);
}
#text-div>h1{
    font-size: 85px;
    font-family: gilroy;
    font-weight: 900;
    line-height: 75px;
    text-transform: uppercase;
    color: white;
}
#small-img-div{
    height: 400px;
    width: 300px;
    /* background-color: red; */
    background-image: url(https://images.unsplash.com/photo-1571513800374-df1bbe650e56?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
    position: absolute;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
}
#vertical-text{
    position: absolute;
    transform: rotate(90deg);
    right: -64%;
    top: -7%;
    bottom: -8;
    transform-origin: 0% 0%;
    /* width: 100%; */
    /* background-color: red; */

}
#vertical-text>h1{
    font-size: 70px;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    letter-spacing: 10px;
    /* transform-origin: (); */
    font-family: monument;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}
#nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    left: 5%;
    top: 5%;
    /* background-color: red; */
}
#nav img{
    height: 60px;
}
#nav h5{
      font-size: 20px;
      font-family: gilroy ;
      color :#fff;

      left: -5;
}
